<div class="user" (click)="openUser(user.id)">
  <span class="name">{{user.nom}}</span>
  <span>{{user.fonction}}</span>
  <div class="commentaires">
    <a class="commentaire"
       *ngFor="let comment of user.commentairesEcrits"
       href="{{comment.url}}">Commentaire {{comment.id}}</a>
  </div>
</div>
