<button type="button" (click)="changeMode()">{{mode}}</button>
<ng-container *ngIf="mode==='Edit' then display else edit"></ng-container>
<ng-template #display>
  <p>Code : {{issue.code}}</p>
  <p>Contenu : {{issue.content}}</p>
  <p>Date création : {{issue.dateCreated}}</p>
  <p>Date création : {{issue.dateClosed}}</p>
  <div class="commentaires">Commentaires :<br>
    <a class="commentaire"
       *ngFor="let comment of issue.commentaires"
       href="{{comment.url}}">Commentaire {{comment.code}}<br></a>
  </div><br>
  <div class="commentaires">Auteurs :<br>
    <a class="commentaire"
       *ngFor="let emitter of issue.emitter"
       href="{{emitter.url}}">Auteur {{emitter.nom}}<br></a>
  </div>
</ng-template>
<ng-template #edit>
  <form (ngSubmit)="updateIssue()">
    <label for="code">Code : </label><input [(ngModel)]="issue.code" id="code" name="code">
    <label for="contenu">Contenu :</label><input [(ngModel)]="issue.content" id="contenu" name="contenu">
    <label for="dateCreation">Date création :</label><input [(ngModel)]="issue.dateCreated" id="dateCreation" name="dateCreation">
    <label for="dateCloture">Date cloture :</label><input [(ngModel)]="issue.dateClosed" id="dateCloture" name="dateCloture">
    <label for="commentaires">Commentaires :</label><select [(ngModel)]="issue.commentaires" id="commentaires" name="commentaires">
    <option><a class="commentaire" *ngFor="let comment of issue.commentaires"  href="{{comment.url}}">Commentaire {{ comment.code }}</a></option>
  </select>
    <label for="auteurs">Auteurs :</label><select [(ngModel)]="issue.emitter" id="auteurs" name="auteurs">
    <option> <a class ="commentaire" *ngFor="let emitter of issue.emitter" href="{{emitter.url}}" >Auteur {{ emitter.nom }}</a></option>
  </select>
    <button type="submit">Envoyer</button><button type="reset">Reset</button>
  </form>
</ng-template>
