<div class="issue" (click)="openIssue(issue.code)">
  <span class="title">{{issue.title}}</span><br>
  <span>{{issue.content}}</span><br>
  <span>{{issue.dateCreated}}</span><br>
  <span>{{issue.dateClosed}}</span><br>
  <div class="auteurs">
    <a class="auteurs"
       *ngFor="let emitter of issue.emitter"
       href="{{emitter.url}}">Auteur {{emitter.nom}}</a>
  </div>
  <div class="commentaires">
    <a class="commentaire"
       *ngFor="let comment of issue.commentaires"
       href="{{comment.url}}">Commentaire {{comment.code}}</a>
  </div>
</div>
